
#content__main {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#content-container {
  margin-top:2.5vh;
}

.content__judge-information {
  display:flex;
  width: 80%;
  height: 50%;
  justify-content: space-between;
}

.content__judge-information .content__judge-information--specific {
  background-color: #444444;
  color: #ffffff;
  height: 60vh;
}

#content__judge-information--select {
  background-color: #444444;
  color: #ffffff;
  display:flex;
  flex-wrap: wrap;
}

#judge-image > img {
  z-index: 7;
  width: 50px;

}

.judge-select-box {
  width: 50px;
  height: 50px;
  border: 4px #888888 solid;
  border-radius: 4px;
  margin: 2px;
}

.judge-select-box > img {
  z-index: 1;
}

#judge-image--main > img {
  z-index: 8;
  transform: translateX(-45px);
  width: 300px;
}
.content__judge-information--specific > h3 {
  font-size: 32px;
  margin: 8px;font-weight: normal;
}

.content__judge-information--specific > h4 {
  font-size: 24px;
  margin: 8px;font-weight: normal;
}

#content__judge-information__description {
  margin: 8px;
}