@keyframes flashing-and-breathing {
  0% {
    filter:brightness(100%);
  }
  100% {
    filter:brightness(120%);
  }
}

#content-container {
  margin-top:2.5vh;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  color: #ffffff;
  }

  #content-container > div > h1 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
  }

  .form-content--text-field-container h4 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;margin: 0;
    font-weight: normal;
  }

  .form-section-container h3 {
    margin: 0;
    font-weight: normal;
    font-size: 28px;margin: 0;
    font-weight: normal;
  }

  .form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .form-content--text-field {
    font-size: 24px;
    font-family: "Roboto Mono", "monospace";
    background-color: #555555;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #9b9b9b;
    color: #ffffff;
    width: 100%;
  }

  .form-content--text-field-container {
    margin-right: 16px;
    margin-top: 8px;
    flex-grow: 1;
  }

  #call-to-action-button {
    background-color: #1361d5;
    border: #0b66ff solid 4px;
    border-radius: 4px;
    color: #ffffff;
    width: 256px;
    height: 64px;
    padding: 8px;
    font-size: 32px;
    font-family: "Roboto Mono", "monospace";
  }

  #call-to-action-button:hover {
    animation-name: flashing-and-breathing;
    animation-duration: 1s;
    animation-play-state:running;
    animation-play-state:initial;
  }