
#content__main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content__main > div > h1 {
  font-size: 48px;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
}

#content-container > div > h1 {
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
}

#submission-box__container {
  display:flex;
  justify-content: center;
  width: 75%;
  flex-wrap:wrap;
}

.submission-box {
  background-color: #444444;
  color: #ffffff;
  width: 300px;
  min-height: 500px;
  margin: 8px;
  text-align: center;
}

.submission-box h3, .submission-box h1 {
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.submission-box .icon {
  
  width: 150px;
  height: 150px;
}

.submission-box__tags {
  padding: 0 8px;
}

#content-container {
  margin-top:2.5vh;
}

.submission-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}