
#content__main {
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 100vh;
  flex-wrap: wrap;
  width:80%;
  margin-left:auto;
  margin-right: auto;
}



#content-container {
  margin-top:15vh;
  min-height: 100vh;
}

#submission-box__container {
  display:flex;
  flex-wrap:wrap;
}

#submission-information__container {
  width: 75%;
  margin: 8px;
}

.submission-box {
  background-color: #444444;
  color: #ffffff;
  width: 300px;
  min-height: 300px;
  margin: 8px;
  text-align: center;
}

.submission-information {
  background-color: #444444;
  color: #ffffff;
  width: 100%;
}

.submission-box h3, .submission-box h1 {
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.submission-information h2 {
  font-weight: normal;
  margin: 0 8px;
}
.submission-information > .submission-information__text {
  margin: 0 8px;
}


.submission-box .icon {
  
  width: 150px;
  height: 150px;
}

.submission-box__tags {
  padding: 0 8px;
}

.slideshow-image {
  width: max(15%, 200px);
  margin: 8px;
}