
#content__main {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#submission-box__container {
  display:flex;
  justify-content: center;
  width: 75%;
  flex-wrap:wrap;
}


.submission-box {
  background-color: #444444;
  color: #ffffff;
  width: 300px;
  height: 500px;
  margin: 8px;
  text-align: center;
}

.submission-box h3, .submission-box h1 {
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.submission-box .icon {
  
  width: 150px;
  height: 150px;
}